@model CitasApp.Models.Medico

<h1>Nuevo Medico</h1>
<form method="post">
    <label>Nombre:</label>
    <input asp-for="Nombre" /><br />
    <label>Apellido:</label>
    <input asp-for="Apellido" /><br />
    <label>Especialidad:</label>
    <input asp-for="Especialidad" /><br />
    <label>Numero de licencia:</label>
    <input asp-for="NumeroLicencia" /><br /><br />
    <button type="submit">Guardar</button>
    <a asp-action="Index">Cancelar</a>
</form>