@model CitasApp.Models.Medico
<h1>Editar médico</h1>
<form method="post">
    <input asp-for="Id" type="hidden" />
    <label>Nombre: <input asp-for="Nombre" /></label><br />
    <label>Apellido: <input asp-for="Apellido" /></label><br />
    <label>Especialidad: <input asp-for="Especialidad" /></label><br />
    <label>Número de licencia: <input asp-for="NumeroLicencia" /></label><br /><br />
    <button type="submit">Guardar cambios</button>
    <a asp-action="Index">Cancelar</a>
</form>